*{
    margin: 0;
    padding: 0;  
    border: 0; 
    text-decoration: none;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #ffffff;
}

/* body */

body{
    background-color:/*#B3888C*/ #f7efef;
}


.BackgroundIMG img{
    width: 100vw;
    height: 660px;
    margin-top: -50px;
    position: absolute;
    z-index: -1;
}

/* Navbar */

.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: /*#191825*/ #121212; 
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    padding: 12px 2%;
    border-bottom: 1px solid /*#937074*/ #d2caca;
}
.Navbar .Navbar-Content a{
    float: left;
    padding: 12px 15px;
    text-align: center;
}
.Navbar img{
    /* height: 40px; */
    height: 65px;
    float: left;
    /* width: 120px; */
    width: 65px;
    padding: 7px;
}

.Navbar .Navbar-Content a:hover{
    color: #d2caca;
}
.Navbar .Navbar-Content a::after{
    content: '';
    display: block;
    padding-bottom: 2px;
    border-bottom: 2px solid #B3888C;
    transform: scaleX(0);
}
.Navbar .Navbar-Content a:hover::after{
    transform: scaleX(0.5);
    transition: 0.2s;
}
/* 
.Extra a{
    color: #a16c3d;
} */

#menu{
    display: none;
}

/*content */
.Opening h1{
    color: #121212;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    top: 25px;
    left: 35px;
    position: absolute;
    padding: 175px 5%;
}
.Opening p{
    color: #121212;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    top: 25px;
    left: 35px;
    position: absolute;
    padding: 250px 5%;
}    
.Opening span{
    color: #a16c3d;
    font-family: 'Poppins', sans-serif;
}