*{
    margin: 0;
    padding: 0;  
    border: 0; 
    text-decoration: none;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #f7efef;
}

/* body */

body{
    background-color:/*#B3888C*/ #c9c4c4;
    color: #121212;
    min-height: 2000px;
}


.BackgroundIMG img{
    width: 100vw;
    height: 660px;
    margin-top: -50px;
    position: absolute;
    z-index: -1;
}

/* Navbar */

.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: /*#191825*/ #121212; 
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 60px;
    width: 100%;
    padding: 12px 2%;
    border-bottom: 1px solid /*#937074*/ #d2caca;
}
.Navbar .Navbar-Content a{
    float: left;
    padding: 12px 15px;
    text-align: center;
}
.Navbar img{
    /* height: 40px; */
    height: 65px;
    float: left;
    /* width: 120px; */
    width: 65px;
    padding: 7px;
}

.Navbar .Navbar-Content a:hover{
    color: #d2caca;
}
.Navbar .Navbar-Content a::after{
    content: '';
    display: block;
    padding-bottom: 2px;
    border-bottom: 2px solid #B3888C;
    transform: scaleX(0);
}
.Navbar .Navbar-Content a:hover::after{
    transform: scaleX(0.5);
    transition: 0.2s;
}
/* 
.Extra a{
    color: #a16c3d;
} */

#menu{
    display: none;
}

/*content */

.Opening{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.Opening::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* Gradasi warna */
    /* background: linear-gradient(0deg,
    rgba(247, 239, 239, 1) 3%, 
    rgb(232, 224, 224) 25%);   */
}
.Opening h1{
    color: #f7efef;
    font-size: 1.7em;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    bottom: 180px;
    left: 35px;
    position: absolute;
    padding: 195px 5%;
}
.Opening p{
    color: #f7efef;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    bottom: 60px;
    left: 35px;
    position: absolute;
    padding: 270px 5%;
}    
.Opening span{
    color: #a16c3d;
    -webkit-text-stroke:  #121212;
    font-family: 'Poppins', sans-serif;
}

.History { 
    padding: 125px 5%;
}
.History .H-box{
    display: flex;
}
.History .H-box .SBG img{
    /* SBG1 image */
    /* height: 500px; */
    /* left: 50px; */
    height: 200px;
    left: 50px;
}
.History h2{
    color: #121212;
    font-size: 50px;
    text-align: center;
}
.History span{
    color: #a16c3d;
}
.History p{
    color: #121212;
    text-align: left;
    padding: 25px 5%;
    width: 740px;
    font-size: 20px;
}

/* Menu */

.T-Menu{ 
    padding: 125px 5%;
}
.T-Menu h2{
    color: #121212;
    font-size: 50px;
    text-align: center;
}
.T-Menu span{
    color: #a16c3d;
}
/* laptop */

@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
}

/* Tablet */

@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }
}

/* Mobile-Phone */

@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}